html, h1, body, header, img, nav, ul, li, aside, div, h2, section, figure, figcaption, p, ol, form, label, input, select, option, footer {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

}

input[type="radio"] {
  cursor: pointer;
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(../assets/stars.png);
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

select {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol > li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + div#_review{
  border-top-style: solid;
  border-color: black;
  border-width: 1px;
}
